:root {
	--leage: "League Spartan", sans-serif;
	--veryDarkMagenta: hsl(300, 43%, 22%);
	--softPink: hsl(333, 80%, 67%);
	--darkGrayishMagenta: hsl(303, 10%, 53%);
	--lightGrayishMagenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--leage);
	background-color: white;
    background-image: 
    url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 100% 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}
.main__template {
	margin: 2rem;
	display: grid;
	grid-template-rows: 18% 20% 40%;
    grid-template-areas: 
    "header"
    "rate"
    "comments";
	text-align: center;
	min-width: 340px;
}
.header {
	padding-top: 2rem;
    margin: 0 auto;
    grid-area: header;
}
.header__content{
    width: 340px;
}
.header__content > h1 {
	color: var(--veryDarkMagenta);
	font-weight: 700;
	padding: 0 3rem;
}
.header__content > p {
	margin: 2rem 0;
	color: var(--darkGrayishMagenta);
	line-height: 1.5;
}
.rate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
    grid-area: rate;
}
.container__rate {
	background-color: var(--lightGrayishMagenta);
	padding: 1rem 0;
	width: 340px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}
.stars {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}
.container__rate > h2 {
	color: var(--veryDarkMagenta);
	font-weight: 700;
	font-size: 15px;
    width: 100%;
}
.comments {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
    grid-area: comments;
}
.container__comment {
	background-color: var(--veryDarkMagenta);
	border-radius: 10px;
	padding: 2rem;
	width: 340px;
	color: var(--white);
    height: 240px;
}
.comment__header {
	display: flex;
	align-items: center;
}
.comment__header > img {
	border-radius: 50%;
	height: 35px;
	margin-right: 1.5rem;
}
.title {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.title > h3 {
	font-weight: 700;
	font-size: 18px;
}
.title > h4 {
	color: var(--softPink);
	font-weight: 400;
}
.comment__body {
	margin-top: 1.5rem;
}
.comment__body > p {
	line-height: 1.5;
	text-align: left;
}
@media (min-width: 1100px){
    body{
        height: 100vh;
        background-image:
        url("../images/bg-pattern-top-desktop.svg"),
        url("../images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat;
        background-position: 0% 0%, 100% 100%;
    }
    .main__template{
        height: 80%;
        max-width: 1100px;
        padding: 3rem;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: 40% 60%;
        grid-template-areas: 
        "header rate"
        "comments comments";
    }
    .header{
        text-align: left;
        display: flex;
        justify-content: flex-start;
    }
    .header__content{
        width: 70%;
    }
    .header__content > h1{
        padding: 0;
        font-size: 40px;
    }
    .header__content > p{
        font-size: 15px;
    }
    .rate{
        gap: 10px;
    }
    .container__rate{
        flex-direction: row;
    }
    .stars{
        margin: 0 1rem;
    }
    .first__rate{
        margin-left: -5rem;
    }
    .third_rate{
        margin-left: 5rem;
    }
    .comments{
        flex-direction: row;
        height: 100%;
        gap: 2rem;
        justify-content: center;
    }
    .comment__second{
        margin-top: 2rem;
    }
    .comment__third{
        margin-top: 4rem;
    }
}
